<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jasmine Portfolio</title>
    <link rel="stylesheet" href="https://fontawesome.com/icons/github?f=brands&s=solid">
    <link rel="stylesheet"  href="css/style.css">
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Jasmine</a>
        <nav class="navbar">
            <a href="#" class="active">Home</a>
            <a href="#">About</a>
            <a href="#">Services</a>
            <a href="#">Contact</a>
        </nav>
    </header>

    <section class="home">
        <div class="home-content">
            <h1>Hi, I'm Jasmine</h1>
            <h3>Web Developer</h3>
            <p>Showcasing a blend of creativity and technical expertise, my portfolio highlights my skills in software development, web design, and user-focused applications. Dive into my projects to see how I bring ideas to life through clean code, responsive design, and innovative solutions
            <div class="btn-box">
                <a href="#">Hire Me</a>
                <a href="#">Let's Talk</a>
            </div>
        </div>
        <div class="home-social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="www.linkedin.com/in/jasmine-b2a933295" target="_blank"><i class="fa-brands fa-linkedin"></i><i class='bx bxl-linkedin'></i></a>
        </div>
        <div class="image-container">
            <img src="images/jas.jpg" alt="Profile Image">
        </div>
    </section>
</body>
</html>
